/* :root {
  --gray1: #f5f5f5;
  --max-width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app .header {
  width: 100%;
}
.app .header .header__brand {
  background: var(--gray1);
}
.app .header .header__brand div {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 26px 0 28px;
} */
.app {
  background: cyan;
}
