$gray1: #f5f5f5;
$max-width: 1920px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  .app {
    .header {
      width: 100%;
      .header__brand {
        background: $gray1;
        display: none;
        div {
          max-width: $max-width;
          margin: auto;
          padding: 0 26px 0 28px;
          display: flex;
          justify-content: space-between;
        }
      }
      .header__nav {
        div {
          max-width: $max-width;
          margin: auto;
          padding: 0 26px 0 28px;
          display: flex;
          position: relative;

          .header__nav-logo {
            margin: 0;
            padding: 0;
            a {
              padding: 0 8px;
            }
          }
          .navbar {
            position: absolute;
            right: 44px;
            bottom: 0;
            height: 60px;
            width: 120px;
            .navbar__search {
              padding: 8px 0;
              position: relative;
              width: 100%;

              button {
                border: none;
                background: transparent;
                padding: 2px;
                position: absolute;
                right: 20px;
                transform: scale(0.85);
              }
            }
          }
          .toggle-wrapper {
            flex: 1;
            display: flex;
            justify-content: flex-end;
  
            .block-link {
              display: block;
              padding: 0;
              margin: 0;
                a {
                  padding: 8px;
                }
              &.block-link--xs-margin {
                margin-right: 56px;
              }  
              &.block-link--lg {
                display: none;
              }
            }
            .block-btn {
              border: none;
              outline: none;
              background: transparent;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    .app {
      .header {
        .header__brand {
          display: block;
        }
        .header__nav {
          div {
            .navbar {
              flex: 1;
              position: relative;
              left: 0;
            }
            .toggle-wrapper {
              flex: 0;
              display: flex;
              .block-link {
                &.block-link--xs-margin {
                  margin-right: 0;
                }
                &.block-link--lg {
                  display: block;
                }
              }
              .block-btn {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
